body {
    font-family: 'Franklin Gothic Medium';
    background-color: black;
    /* background-image:  url('cvRontEndImage.webp'); */
}
.container{
    padding-top:50;
}
.candidates-details{
    background-color: black;
    border-radius: 48px;
    padding: 30px;
    border: 2px solid white;
}

h1{
    margin-bottom: 30px;
    color: #fff;
    font-family:'Rockwell';

}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:  #fff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: black;
    color:  white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

button[type="submit"]:hover {
    background-color:  #fff;
    color: black;
}

.add-certificate {
    margin-top: 10px;
    background-color: black;
    color: #fff;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
}

.navbar {
    background-color: black !important; /* Dark navbar background */
    padding: 5px 100px; /* Adjust padding to reduce width from both sides */
    border: 2px solid white;
    border-radius: 30px; /* Decrease border-radius to decrease width from both corners */
    margin: 0 auto; /* Center the navbar */
    max-width: 800px; /* Set a maximum width for the navbar */
}

.navbar-nav .nav-link {
    color: white; /* Change the color of the navbar links */
    margin: 0 10px; /* Adjust the space between navbar links */
}

.navbar-nav .nav-link.active {
    color: white; /* Change the color of the active navbar link */
}

.navbar-toggler-icon {
    color: white; /* Change the color of the navbar toggler icon */
}

.navbar-brand {
    color: white;
}

.navbar-toggler {
    border-color: white; /* Change the color of the navbar toggler button */
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-link:not(.signin) {
    margin-right: 20px; /* Add gap between navbar icons */
}

.navbar-nav .nav-link.signin {
    margin-left: auto; /* Shift the Sign in icon to the right */
}


.signin button {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

.signin button:hover {
    background-color: #fff;
    color: black;
}