body {
    font-family: fantasy;
    /* background-image: url('cvRontEndImage.webp'); */
    background-color: black;
    padding: 10px;    
}
.container {
    padding-top: 50px;
}
.candidates-details {
    background-color: black;
    border-radius: 48px;
    padding: 30px;
    border: 2px solid white; /* Set border color to white */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(255, 255, 255, 0.2); Transparent background color */
    /* background: linear-gradient(135deg, #13072e,#3f2182); */
    /* backdrop-filter: blur(1px); */
}
.candidates-details h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.candidates-details button {
    /* background-color: #fff;
    color: #483285; /*text color*/
    /* border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease; */
    padding: 5px 10px;
    border: 2px solid white;
    border-radius:  20px; /* Increase border-radius for oval shape */
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

.candidates-details button:hover {
    /* background-color: #0e0c70; */
    background-color: #fff;
    color: black;
}
.navbar {
    /* background-color: rgba(0,0,0,0)!important;  */
    background-color: rgba(0, 0, 0, 0)!important; 
    padding: 1px 400px; /* Adjust padding to decrease width from both corners */
    border: 2px solid white;
    border-radius: 30px; /* Decrease border-radius to decrease width from both corners */
    }
.navbar-nav .nav-link {
    color: white; /* Change the color of the navbar links*/
    margin: 0 10px; /*Adjust the space between navbar links  */
    }

.navbar-nav .nav-link.active {
    color: white; /* Change the color of the active navbar link */
    }
.navbar-toggler-icon {
    color: white; /* Change the color of the navbar toggler icon */
    }
.navbar-brand{
    color:white;
}
.navbar-toggler {
    border-color: white; /* Change the color of the navbar toggler button */
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-link:not(.Logout){
    margin-right: 20px; /* Add gap between navbar icons */
}

.navbar-nav .nav-link.Logout{
    margin-left: auto; /* Shift the Logout icon to the right */
}
button{
    padding:  5px 10px;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

button:hover {
    background-color: #fff;
    color: black;
}