body {
    font-family:'Franklin Gothic Medium';
    background: black; /* Light background color */
    padding:20px;
}

.navbar {
    background-color: black !important; /* Dark navbar background */
    padding: 5px 100px; /* Adjust padding to reduce width from both sides */
    border: 2px solid white;
    border-radius: 30px; /* Decrease border-radius to decrease width from both corners */
    margin: 0 auto; /* Center the navbar */
    max-width: 800px; /* Set a maximum width for the navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff; /* Navbar text color */
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Navbar text color on hover */
}

/* Change color of the active navbar link */
.navbar-nav .nav-link.active {
    color: white;
}

.navbar-toggler-icon {
    color: #fff; /* Navbar toggler icon color */
}

.container {
    padding-top: 50px;
}

h1 {
    
    color: #ffc107; /* Title text color */
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: white;
}

p {
    color: white;
}
.navbar-nav .signin button {
    background-color: black; /* Button background color */
    border: 1px solid white; /* Button border color */
    color: white; /* Button text color */
    border-radius: 20px;
    padding:5px 10px;
}

.navbar-nav .signin button:hover {
    color: black; /* Button text color on hover */
    background-color: white; /* Button background color on hover */
}

/* Get Started button */
.btn-primary {
    background-color: black; /* Button background color */
    border-color: white; /* Button border color */
    color: white; /* Button text color */
}

.btn-primary:hover {
    color: black; /* Button text color on hover */
    background-color: white; /* Button background color on hover */
    border-color: white; /* Button border color on hover */
}