body {
    font-family: 'Franklin Gothic Medium';
    background-color: black;
    /* background-image:  url('cvRontEndImage.webp'); */
}

.container {
    padding-top: 50px;
}
.candidates-details {
    /* max-width: 600px;
    margin: 0 auto; */
    background-color: black;
    border-radius: 48px;
    padding: 30px;
    border: 2px solid white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(255, 255, 255, 0.2); Transparent background color */
    /* background: linear-gradient(135deg, #13072e, #3f2182); */
}
h1{
    margin-bottom: 30px;
    color: #fff;
    font-family:'Rockwell';

}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:  #fff;

}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

button[type="button"]:hover {
    background-color:  white;
    color: black;
}

input[type="submit"] {
    background-color: black;
    color:  white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

input[type="submit"]:hover {
    background-color:  white;
    color: black;
}

.navbar{
    background-color: black !important; /* Dark navbar background */
    padding: 5px 100px; /* Adjust padding to reduce width from both sides */
    border: 2px solid white;
    border-radius: 30px; /* Decrease border-radius to decrease width from both corners */
    margin: 0 auto; /* Center the navbar */
    max-width: 800px; /* Set a maximum width for the navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff; /* Navbar text color */
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Navbar text color on hover */
}

/* Change color of the active navbar link */
.navbar-nav .nav-link.active {
    color: #00f;
}

.navbar-toggler-icon {
    color: #fff; /* Navbar toggler icon color */
}

.container {
    padding-top: 50px;
}


.navbar-nav .nav-link:not(.signin) {
    margin-right: 20px; /* Add gap between navbar icons */
}

.navbar-nav .nav-link.signin {
    margin-left: auto; /* Shift the Sign in icon to the right */
}

button {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

button:hover {
    background-color:  #fff;
    color: black;
}