/* Custom Styles for Login Form */

body {
    font-family:'Franklin Gothic Medium';
    background-color:black;
}

.container {
    margin-top: 50px;
}



h1 {
    margin-bottom: 30px;
    color: white;
}
p{
    color:white;
}
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary{
    background-color:black;
    color: #fff;
    padding: 12px 10px;
    border: none;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: white;
    color: black;
}

.navbar {
    background-color: #0c0223!important; 
    }
.navbar-nav .nav-link {
    color: white; /* Change the color of the navbar links */
    }
.navbar-nav .nav-link.active {
    color: #ffc107; /* Change the color of the active navbar link */
    }
.navbar-toggler-icon {
    color: white; /* Change the color of the navbar toggler icon */
    }
.navbar-brand{
    color:white;
}
  .navbar-toggler {
    border-color: white; /* Change the color of the navbar toggler button */
  }