<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-EfEjW2jrQm2EMd6g8E00gzDlo21rBUh1fA4hD8T+1uPx0fxF+75z1Og+hBocwZ+C" crossorigin="anonymous">

    
    <!-- <link rel="stylesheet" type="text/css" href="static/css/resume.css"> -->
    <div class="wrapper clearfix">
        <div class="left">
            <div class="name-hero">
                <div class="me-img">
                    <img src="http://images2.fanpop.com/images/photos/4700000/Codeman-cody-lambert-4776780-500-375.jpg" alt="Cody Man">
                </div>
                <div class="name-text">
                    <h1>{{ personal_info.Fname }} <em>{{ personal_info.Lname }}</em></h1>
                    <p>{{ personal_info.Address }}</p>
                    <p>{{ personal_info.Email }}</p>
                    <p>{{ personal_info.Phn }}</p>
                </div>
            </div>
            <section>
                <h1>Projects</h1>
                {% for prjt in projects %}
                <p>{{ prjt.PrjtName }}</p>
                <p>{{ prjt.Desc }}-{{ prjt.Responsibilities }}</p>
                {% endfor %}
            </section>
        </div>
        <div class="right">
            <div class="inner">
                
                
                <section>
                  
                    <h1><span class="fas fa-graduation-cap"></span> Education</h1>
                    {% for edu in education %}
                    <p>{{ edu.Degree }} - {{ edu.School }} ({{ edu.Grad_date }})</p>
                    {% endfor %}
                </section>
                
                
            </div>
            <section>
               
                <h1>Skills</h1>
                <ul class="skill-set">
                    {% for skill in skills %}
                    <li>{{ skill.skill_name }}- {{ skill.proficiency }}</li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                
                <h1>Interests</h1>
                <ul class="skill-set">
                    {% for interest in interests %}
                    <li>{{ interest.interest_name }}</li>
                    {% endfor %}
                </ul>
            </section>

            <section>
                <h1>Languages</h1>
                {% for lan in languages %}
                <p>{{ lan.LangName }} - {{ lan.Proficiency_Lang }}</p>
                {% endfor %}
            </section>
            

                <section>
                    <h1>Achievements</h1>
                    {% for ach in achievements %}
                    <p>{{ ach.desc }}</em></p>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
    <style>
        /* General styling */
       /* General styling */
body {
    background-color: #aac1d6; /* white background */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Wrapper styling */
.wrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increased shadow */
}

/* Left side styling */
.left {
    flex: 1;
    padding: 20px;
}

.me-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.name-text h1 {
    color: #084782; /* red text */
    margin: 10px 0;
}

.name-text p {
    color: black; /* red text */
}

/* Right side styling */
.right {
    flex: 2;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increased shadow */
}

/* Section styling */
section {
    background-color: #e7decc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increased shadow */
}

section h1 {
    color: #084782; /* red heading */
}

/* Project image styling */
.work-img img {
    max-width: 100%;
    height: auto;
}

/* List styling */
.skill-set,
.achievement-list {
    list-style-type: none;
    padding: 0;
}

.skill-set li,
.achievement-list li {
    margin-bottom: 10px;
}

.skill-set li:before {
    content: '\2022'; /* bullet point */
    color: #ff4d4d; /* red bullet */
    font-size: 15px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Footer styling */
footer {
    background-color: #ff4d4d; /* red footer */
    color: #ffffff; /* white text */
    text-align: center;
    padding: 20px;
}

    </style>
</body>
