<!-- login.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 text-center candidates-details">
                <h1>Login</h1>
                <form action="{{ url_for('login') }}" method="post">
                    <!-- Login form fields -->
                    <label for="username_or_email">Username or Email:</label>
                    <input type="text" id="username_or_email" name="username_or_email" required><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br>
                    <button type="submit">Login</button>
                </form>
                <!-- Display error message if it exists -->
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <p>Don't have an account? <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a></p>
            </div>
        </div>
    </div>
    <!-- JavaScript to hide flash messages after 4 seconds -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Select all flash messages and hide them after 4 seconds
            var flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(message) {
                setTimeout(function() {
                    message.style.display = 'none';
                }, 4000); // Adjusted timeout to 4 seconds
            });
        });
    </script>
</body>

</html>