<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information Form</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/personal.css' )}}">
</head>

<body>
    <h2>Personal Information Form</h2>
    <div class="container">
        <form action="/submit_personal_info" method="post">
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name" required><br>

            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name" required><br>

            <label for="dob">Date of Birth:</label><br>
            <input type="date" id="dob" name="dob" required><br>

            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address" required><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="linkedin">LinkedIn Profile:</label><br>
            <input type="text" id="linkedin" name="linkedin"><br>

            <label for="summary">Summary:</label><br>
            <textarea id="summary" name="summary" rows="4" cols="50"></textarea><br>

            <input type="submit" value="Save & Next">
        </form>
    </div>
</body>

</html>
